#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: dennarfarel # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDTawUyvUgu6NGaqheUivaUR/k984wbJAGN1CjRH9t82pc6sTMbmx4nzF5BgGeYERrXhT+uiaFuf3JuQV6hzsD1R5v8+uSAiTBfPkQvfiK0Fo2Ch6PiDCR5Y7CgpU8LIQdoalEygyQqSglmyZvMhhghDZIe13kXEKAclp0G3VYiswmQ4ic8d3rfb/zVOX4SUCIwvT69+VMuPB/jncf3vfO1R5+QHNmO1Hl0UZwrKs9aYmMyoRptPmtRvLcp/6wF5+VN3ocKBfcUs5UqafrqAzkZKNuzJl4DnNOe6UayO8acHrwE0rvCK+RZOgE5Wt/OIctqPyQyEAkNtp+QVBCwH/POp4odkpe0y9L4ta2YFipvpxZwA5X1bsu6MfAFuDVW38oKd/bNOlxzhgBNEpaZ1CmfRmNHf76PiNOnixhQVSXLBSnCifn9OmR+qnZV8tKvEe98sTd3OlGrPoS8h63dkIkIZnv3LSr2IxmXbwLZglpWKR4Oe8gArVuAHSWGXPcc8Ks= dennarfarel@dennar
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
